@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.example-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px
  }
  
  .example-container > * {
    width: 60%;
  }

  input{
    outline: none;
    width: 400px;
    }

  label{
    width:200px;
  }
  


