<div class="example-container" style="float: left">
  <div>
    <div>
      <label for="carrierName">Insurance Carrier:</label>
      <input type="text" id="carrierName" [(value)]="card.CarrierName" />
    </div>
    <div>
      <label for="carrierType">Insurance Type/Location:</label>
      <input type="text" id="carrierType" [(value)]="card.CarrierType" />
    </div>
    <div>
      <label for="group">Group Number:</label>
      <input id="group" [(value)]="card.Group" />
    </div>
    <div>
      <label for="member">Member ID:</label>
      <input id="member" [(value)]="card.MemberId" />
    </div>
  </div>
</div>
<div >
    <img [src]="card.ImageUrl" width="200px" />
  </div>
<div *ngIf="showuploader" >
  <app-uploadpic (filechanged)="onFileChanged($event)"></app-uploadpic>
</div>
<button (click)="showUploader()">add new card</button>
